@import 'tailwindcss';

@plugin 'flowbite/plugin';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

::-webkit-scrollbar {
  display: none;
}

.chat-hover:hover {
  background: linear-gradient(90deg,
      color-mix(in srgb, theme('colors.blue.400') 10%, transparent),
      color-mix(in srgb, theme('colors.blue.800') 5%, transparent));
  border-left: 3px solid theme('colors.blue.400');
  transform: translateX(2px);
  transition: all 0.3s ease;
}

.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}